:root {
    --cor-um: #AA77FF;
    --cor-dois: #9400FF;
    --cor-tres: #27005D;
    --cor-quatro: #FFFFFF;
    --cor-cinco: #AED2FF;
    --cor-seis: #FF0060;
    --font-um: "Lora", serif;
    --font-dois: "Comfortaa", sans-serif;
    --max: 1920px:
}